In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [ ]:
data = pd.read_csv("C:/Users/Ugur/Downloads/bfotool-download.csv")

In [ ]:
data.head()

  independent hundred     music   thousand   hardly
0       sound  hunter  possibly     record     kill
1        girl  should     built        one     clay
2     variety     bag   compass       sand   doctor
3       shelf  rocket     slept  education  helpful
4      silver   price      real        was     trap